{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "tailwind",
        "variants"
      ]
    }],
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s", "%", "px", "deg", "vh"]
  }
}
