dc-input {
	position: relative;
	display: block;

	input,
	textarea {
		@apply appearance-none border border-gray-600 block w-full py-2 px-3 text-gray-800 leading-tight;

		&[readonly] {
			@apply bg-gray-200;
		}

		&.invalid {
			@apply bg-red-200;
		}
	}

	&.embedded {
		div {
			@apply mb-0;
		}
	}

	.validation-result-input {
		@apply text-red-500 font-semibold w-full absolute left-0 pt-2 whitespace-no-wrap;
		top: 34px;
		line-height: 1.2;
	}

	.validation-result-textarea {
		@apply text-red-500 font-semibold w-full left-0 pt-2 whitespace-no-wrap;
	}
}
