@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
	@apply border uppercase text-center px-10 py-2 inline-block;

	&.btn-primary-inv {
		@apply text-white uppercase whitespace-no-wrap text-xl duration-500;
		&:hover {
			@apply bg-white text-brand-blue duration-500;
		}
	}

	&.btn-primary {
		@apply text-white bg-brand-blue uppercase whitespace-no-wrap text-xl duration-500;
		&:hover {
			@apply bg-white text-brand-blue duration-500;
		}
	}

	&.toggled {
		@apply bg-white text-brand-blue uppercase whitespace-no-wrap text-xl duration-500;
	}
}

.title {
	@apply text-3xl uppercase font-semibold;

	&.title-wide {
		@apply tracking-widest;
	}
}

.link {
	@apply text-brand-blue font-semibold;

	&:hover {
		@apply text-black;
	}
}

.link-inverse {
	@apply text-black font-semibold;

	&:hover {
		@apply text-white;
	}
}

main {
	font-family: calibri;
	position: relative;
	min-height: calc(100vh - 265px);
}

.menu {
	h1 {
		// transition: color 0.3s;
	}
	div {
		background-color: rgba(#34383d, 0.8);
		// transition: height 0.3s;
	}
	&.active,
	&:hover {
		h1 {
			@apply text-white;
		}
		div {
			@apply h-full;
		}
	}
}

.banner {
	height: 1000px;

	.banner-text {
		margin-top: 190px;
	}
}

@media (max-width: 640px) {
	.banner {
		height: 500px;

		.banner-text {
			margin-top: 70px;
		}
	}
}

q {
	quotes: "\201C""\201D""\2018""\2019";
	padding: 20px;
	line-height: 0em;
}

q:before {
	@apply text-brand-blue;
	content: open-quote;
	font-size: 2em;
	display: inline;
	height: 0;
	left: -10px;
	position: relative;
	top: 5px;
}
q:after {
	@apply text-brand-blue;
	content: close-quote;
	font-size: 2em;
	display: inline;
	height: 0;
	left: 10px;
	position: relative;
	top: 5px;
}
