@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
	@apply bg-brand-blue uppercase text-center px-6 py-2 inline-block;

	&.btn-primary {
		a {
			@apply text-white uppercase whitespace-no-wrap;
		}
	}

	&:hover {
		&.btn-primary {
			@apply bg-brand-gray3;
		}
	}
}

.link {
	@apply text-brand-blue font-semibold;
}

main {
	font-family: calibri;
	position: relative;
	min-height: calc(100vh - 265px);
}

.menu {
	h1 {
		// transition: color 0.3s;
	}
	div {
		background-color: rgba(#34383d, 0.8);
		// transition: height 0.3s;
	}
	&.active,
	&:hover {
		h1 {
			@apply text-white;
		}
		div {
			@apply h-full;
		}
	}
}

q {
	quotes: "\201C""\201D""\2018""\2019";
	padding: 20px;
	line-height: 0em;
}

q:before {
	@apply text-brand-blue;
	content: open-quote;
	font-size: 2em;
	display: inline;
	height: 0;
	left: -10px;
	position: relative;
	top: 5px;
}
q:after {
	@apply text-brand-blue;
	content: close-quote;
	font-size: 2em;
	display: inline;
	height: 0;
	left: 10px;
	position: relative;
	top: 5px;
}
